<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <script src="https://kit.fontawesome.com/fcb4a1c19d.js" crossorigin="anonymous"></script>        
        
        <script src="javascript/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        
        <meta charset="UTF-8">
        <title>ChatUsers 페이지</title>
        
        <style type="text/css">
            a:hover{text-decoration:underline; color:black;}

            .gradation {
                background: linear-gradient( to bottom, white, #0D0922 )

        </style>
        
        <script>
            
            var socket;

            $(function () {

            });
            
            function check(box) {
                if(box.checked == true) {
                    insertbutton(box);
                } else {
                    removebutton(box);
                }
                    
            }
            
            function insertbutton(box) {
                name = box.name;
                var bb = '<td style="padding-left:5px"><div class ="' + name + '"> <div class="ui label">' + name + '<i class="user plus icon" style="padding-left:5px"></i></div></div></td>';

                $('#results').append(bb);
            }
            function removebutton(box) {
                $("div").remove('.' + box.name);
            }
            
            function println(data) {
                $('#results').append(data);
            }

        </script>
        
        
    </head>
    <body style="background-color:#000000">
                
        <div class="gradation" style="width: 100%; height: 100px; margin-bottom: 10px;">
            <% include header_footer/header %>
        </div>

        <h2 align="center" style="color:white">Chat Users</h2>
        
        <form method="post" action="/ChatUsersButton">
            <table align="right">
                <tr>
                    <td>
                        <div align="right" style="padding-right:30px; padding-top:20px">
                            <button class="ui icon button">
                                <i class="plus circle icon"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <br><br><br><br>
            
            <table>
                <tr>
                    <div id="results"></div>
                </tr>
            </table>
            
            <hr>
        
            <p>사용자 수: <%= rows.length %> </p>
            <div>
                <table>
                    <% for(var i=0; i<rows.length; i++) { %>
                    <tr>
                        <td>
                            <div class="ui checkbox">
                              <input type="checkbox" name="<%= rows[i].user_id %>" onclick="check(this)">

                              <label style="color:white">ID : <%= rows[i].user_id %> / Name : <%= rows[i].user_name %></label>

                            </div><br>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </form>


    </body>
</html>

<% include header_footer/footer %>