<!DOCTYPE html>
<html lang="ko">
    <head>  
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

        <meta charset="utf-8">
    </head>

    <body style="overflow:hidden;background-color:#f0f0f0;" class="Head_nav" style="font-size:100%;">
        
        <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">채팅방 목록</h2>

		<div style="overflow:scroll; width:100vw; height:100vh;">
            
            <p>채팅방 수: <%= rows.length %> </p>
            <% for(var i=0; i<rows.length; i++) { %>
                  <div style="height:70px; padding-left:10px; padding-right:10px; background-color:white; padding-top:10px; padding-bottom:10px">
                      <form method="post" action="/ChatRoom">
                        <button class="fluid ui basic button" name="chatroom_ID" value="<%= rows[i].chatroom_ID %>" style="height:50px; color:white">
                          <div align="left">  
                            <i class="users icon"></i>
                            <%= rows[i].chatroomname %>  (<%= rows[i].chatroomsize %>)
                          </div>
                        </button>
                      </form>      
                  </div>
            <% } %>
            

        </div>
    </body>
</html>