<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <script src="https://kit.fontawesome.com/fcb4a1c19d.js" crossorigin="anonymous"></script>
        
        <meta charset="UTF-8">
        <title>로그인 페이지</title>

        <style>

          .gradation {
            background: linear-gradient( to bottom, white, #0D0922 );

        </style>
    
    </head>
    <body style="background-color:#000000">

        <div class="gradation" style="width: 100%; height: 100px; margin-bottom: 10px;">
            <% include header_footer/header %>
        </div>
        
        <div style="padding-top:130px; width:900px; margin:0 auto;">
            <div class="ui placeholder segment">
                <form method="post" action="/LoginButton">
                    <div class="ui two column very relaxed stackable grid">
                        <div class="column">
                            <div class="ui form">
                                <form method="post" action="/LoginButton">  
                                    <div class="field">
                                        <label>Email</label>
                                        <div class="ui left icon input">
                                            <input type="text" placeholder="Email" name="id">
                                            <i class="user icon"></i>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Password</label>
                                        <div class="ui left icon input">
                                            <input type="password" name="password">
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                    <button class="ui blue button">
                                        Login
                                    </button>
                                </form>  
                            </div>
                        </div>
                        <div class="middle aligned column">
                            <form method="get" action="/Signup">
                                <button class="ui blue button">
                                    Sign up
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="ui vertical divider">
                        Or
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

<% include header_footer/footer %>