<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <script src="https://kit.fontawesome.com/fcb4a1c19d.js" crossorigin="anonymous"></script>
        
        <meta charset="UTF-8">

    </head>

    <body style="background-color:white">

        <div style="text-align:center;">
            <img src="kw.png" style="max-width: 750px; height: 100px; vertical-align: middle; margin-top:100px">
        </div>

        <div style="padding-top:130px; width:900px; margin:0 auto;">
            <div class="ui placeholder segment">
                <form method="post" action="/LoginButton">
                    <div class="ui two column very relaxed stackable grid">
                        <div class="column">
                            <div class="ui form">
                                <form method="post" action="/LoginButton">  

                                    <div class="fields">   
                                        <div class="field">
                                          <label style="color:white">구분</label>
                                            <select name="stuorprof">
                                                <option value="student">학부생</option>
                                                <option value="professor">교수</option>
                                            </select>
                                        </div>
                                    </div><br><br><br>


                                    <div class="field">
                                        <label>ID</label>
                                        <div class="ui left icon input">
                                            <input type="text" placeholder="ID" name="id">
                                            <i class="user icon"></i>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Password</label>
                                        <div class="ui left icon input">
                                            <input type="password" name="password">
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                    <button class="ui blue button">
                                        Login
                                    </button>
                                </form>  
                            </div>
                        </div>
                        <div class="middle aligned column">
                            <form method="get" action="/joinForm">
                                <button class="ui blue button">
                                    Sign up
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="ui vertical divider">
                        Or
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>



