<!DOCTYPE html>
<html>
    <head>  
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

        <meta charset="utf-8">

        
    </head>

    <body style="background-color: white">
        <td><!--상단 메뉴 인클루드--><% include ./top.ejs %></td>

        
    </body>
</html>
