<html>

  <head>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./type8.css">
  </head>

  <body style="font-family:Nanum Gothic;">
  <style>
    table.type11 { border-collapse: separate; border-spacing: 1px; text-align: center; line-height: 1.5; margin: 20px 10px;}
    table.type11 th { width: 155px; padding: 10px; font-weight: bold; vertical-align: top; color: #fff; background: #ce4869 ;}
    table.type11 td { width: 155px; padding: 10px; vertical-align: top; border-bottom: 1px solid #ccc; background: #eee;}
  </style>


  <table class="type11">
  <caption style="padding:20 0 30 0">2학기 주재훈의 시간표</caption>

  <thead>
    <tr>
      <th>시간</th><th>MON</th><th>TUE</th><th>WED</th><th>THU</th><th>FRI</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <!-- 색 바꾸기:<td bgcolor=yellow> -->
      <td>1교시</td><td>&nbsp</td><td rowspan="2">일반물리학실험I</td><td rowspan ="2">일반물리학I (양tr)</td><td>서버프로그래밍</td><td rowspan="2">경제</td>
    </tr>

    <tr>
      <td>2교시</td><td>미적분학I (정tr)</td><td>영어회화</td>
    </tr>

    <tr>
      <td>3교시</td><td rowspan="2">&nbsp</td><td rowspan="2">기업가정신 및 기술창업교육</td><td rowspan="2">서버프로그래밍</td><td rowspan ="2">&nbsp</td><td rowspan="2">미적분학I (심tr)</td>
    </tr>

    <tr>
      <td>4교시</td>
    </tr>

    <tr>
      <td>5교시</td><td>학급자치</td><td>미적분학I (백tr)</td><td rowspan="5" >R&E</td><td>시문학 강독</td><td>체육</td>
    </tr>

    <tr>
      <td>6교시</td><td>미술 창작</td><td>&nbsp</td><td rowspan="2">영어논문지도</td><td rowspan="2">프로그래밍과 문제해결</td>
    </tr>

    <tr>
      <td>7교시</td><td rowspan="2">시문학 강독</td><td rowspan="2">일반물리학I (정tr)</td>
    </tr>

    <tr>
      <td>8교시</td><td rowspan="2">&nbsp</td><td rowspan="2">&nbsp</td>
    </tr>

    <tr>
      <td>9교시</td><td>&nbsp</td><td>프로그래밍과 문제해결</td>
    </tr>
  </tbody>

</html>