<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <meta charset="utf-8">
    <style>
        #gradation {
          background: #b1bfca;
        }
      </style>

      <title>광운대학교</title>

</head>

<body style="overflow:hidden;background-color:#f0f0f0;" class="Head_nav" style="font-size:100%;">


      
      <div class="ui secandary menu" style="height: 70px;" id="gradation">
        <a class="item" href="/ZMain">
          <strong>JSK 학사정보시스템</strong>
        </a>
        <a class="item" href="/ZClass">
          <strong>과목조회</strong>
        </a>
        <div class="right menu">
          <script>
            var sessionuser = '<%-userid%>'
            if (sessionuser == 'No_One') {
              document.write('<a class="item" href="/Login" style="margin-right:30px"><strong>Login</strong></a></div>');
            } else {
              document.write('<a class="item" href="/ZMypage"><i class="user outline icon"></i><%-userid%></a><a class="item" href="/Logout" style="margin-right:30px"><strong>Logout</strong></a>');
            }
          </script>
         </div>
      </div>
      
      
      
      </div>
      
    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;"><<%= classname %>> 공지사항 작성 </h2>

    <div style="overflow:scroll; width:100vw; height:100vh;">

        <form method="POST" action="/ZNoticeWriting">
            <div class="ui form" style="padding-left:30px; padding-right:30px">
              <div class="field">
                <label>Title</label>
                <textarea rows="1" name="title"></textarea>
              </div>


              <div class="field">
                <label>작성일</label>
                <input type="date" id="name" name="date">
              </div>

              <div class="field">
                <label>Content</label>
                <textarea name="content"></textarea>
              </div>
            </div>        
            <div align="right" style="padding-right:40px; padding-top:10px">
                <button class="ui blue button" name="classname" value="<%= classname %>">
                    Write
                </button>   
            </div>
        </form>

    </div>
</body>

</html>