<style>
  #gradation {
    background: #b1bfca;
  }
</style>

<title>광운대학교</title>

<div class="ui secandary menu" style="height: 70px;" id="gradation">
  <a class="item" href="/Main">
    <strong>JSK 학사정보시스템</strong>
  </a>
  <a class="item" href="/ZMain">
    <strong>Home</strong>
  </a>
  <a class="item" href="/ZClass">
    <strong>과목조회</strong>
  </a>
  <a class="item" href="/ZMain">
    <strong>Home</strong>
  </a>
  <script>
    var sessionuser = '<%-userid%>'
    if (sessionuser == 'No_One') {
      document.write('<a class="item" href="/Login" style="margin-right:30px"><strong>Login</strong></a></div>');
    } else {
      document.write('<a class="item" href="/Friend"><i class="user outline icon"></i><%-userid%></a><a class="item" href="/Logout" style="margin-right:30px"><strong>Logout</strong></a>');
    }
  </script>
</div>



</div>
