<div class="ui large secondary menu" style="padding-top:20px; margin-right: 35px;">
    <div class="right menu">
        <a class="item" href="/Main">
            <strong>Home</strong>
        </a>
    </div>
</div>